body {
    font-family: "Inter", sans-serif;
    background-color: #101223;
}

.content {
    max-width: 728px;
    width: 100%;
}

.ig-container {
    margin: 0 auto 0 auto;
    box-sizing: border-box;
}

/*
    BUTTONS
*/


button.btn-base {
    font-weight: 600;
    line-height: 1;
}

    button.btn-base:disabled {
        color: #8B8D95;
        background-color: #424242;
    }


button.btn-pri {
    background-color: #34D399;
    color: #F5F7FF;
}

button.btn-sec {
    color: #34D399;
}

button.btn-hea {
    color: #EC2F61;
}


/*
    NAVIGATIONAL MENU
*/


/*
    BUTTON > ANCHORS
*/

a.btn-base {
    font-weight: 600;
}



/*
    CONTENT WIDGETS
*/

a.post-wid {}

a.post-nar {}

    a.post-wid:hover, a.post-nar:hover {
        background-color: #212230;
        transition: linear 0.2s;
    }

    a.post-wid:hover h2, a.post-nar:hover h2 {
        color: #F5F7FF;
        transition: linear 0.2s;
    }


@media (max-width: 639px) {

}

@media (min-width: 640px) {
    
}