body {
    font-size: 16px;
    font-optical-sizing: auto;
}

.content {}

    .content a, .link-gen {
        color: #00BD6D;
        text-decoration: none;
    }

        .content a:hover, a.link-gen:hover {
            color: #00BD10
        }



/*
    RELATED LISTS
*/

.related-list ul li {
    padding: 4px 0px 4px 0;
}

    .related-list ul li a {
        color: #00BD6D;
    }

        .related-list ul li a:hover {
            color: #00BD10;
        }


@media (max-width: 639px) {}

@media (min-width: 640px) {}




