body {
    font-size: 16px;
    font-optical-sizing: auto;
}

.content {}

    .content a {
        color: #22B07D;
        text-decoration: none;
    }

@media (max-width: 639px) {}

@media (min-width: 640px) {}


